           
    
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

@media screen and (max-width:480px){
body {
    font-size:15%; 
} 
}



@media screen and (min-width: 800px) {
#columna1, #columna2 {
    float:left;
    width:50%;
}
}


@media screen and (min-width: 1025px) {
#columna1, #columna2, #columna3 {
float:left;
width:33%;
}}


