           
    
    @media screen and (min-whidth: 600px) {
        body {
            background-color: #000000;
        }
    }
    
@media screen and (max-width: 992px) {
.column {
  width: 50%;
}
}

@media screen and (max-width: 600px) {
.column {
  width: 100%;
}
}

@media screen and (max-width:480px){
body {
    font-size:80%; 
} 
}



@media screen and (min-width: 800px) {
#columna1, #columna2 {
    float:left;
    width:50%;
}
}


@media screen and (min-width: 1025px) {
#columna1, #columna2, #columna3 {
float:left;
width:33%;
}}


@media screen and (max-width:320px){
#columna1, #columna2, #columna3 {
float:none;
width:25%;
}}

