
    .grid-container{
        display:grid;
        grid-template-columns: auto auto auto;
        margin: 0%;
        padding: 0ch;
        
        
        }
        
        
        .item1{
        background-image: url(./imagenes/1.jpg);
        background-size: cover;
        margin: 2px;
        width: 400px;  
        height: 250px;
        border-style:solid ;
        color: black;
        }
        
        .item2{
        background-image: url(./imagenes/2.jpg);
        background-size: cover;
        margin: 2px;
        width: 400px;  
        height: 250px;
        border-style: solid;
        color: black;
        }
        
        .item3{
        background-image: url(./imagenes/3.jpg);
        background-size:cover;
        margin: 2px;
        width: 400px;  
        height: 250px;
        border-style: solid;
        color: black;
        }
        
        .item4{
        background-image: url(./imagenes/4.jpg);
        background-size: cover;
        margin: 2px;
        width: 400px;  
        height: 250px;
        border-style: solid;
        color: black;
        }
        
        .item5{
        background-image: url(./imagenes/5.jpg);
        background-size: cover;
        margin: 2px;
        width: 400px;  
        height: 250px;
        border-style: solid;
        color: black;
        }
        
        .item6{
        background-image: url(./imagenes/6.jpg);
        background-size: cover;
        margin: 2px;
        width: 400px;  
        height: 250px;
        border-style: solid;
        color: black
        }
        
        .item7{
            background-image: url(./imagenes/7.jpg);
            background-size: cover;
            margin: 2px;
            width: 400px;  
            height: 250px;
            border-style: solid;
            color: black
            }
    
            .item8{
                background-image: url(./imagenes/8.jpg);
                background-size: cover;
                margin: 2px;
                width: 400px;  
                height: 250px;
                border-style: solid;
                color: black
                }
    
                .item9{
                    background-image: url(./imagenes/9.jpg);
                    background-size: cover;
                    margin: 2px;
                    width: 400px;  
                    height: 250px;
                    border-style: solid;
                    color: black
                    }