    *{
    margin: 0%;
    padding:0% ;
    }

    header{
        text-align: center;
    background-image: linear-gradient(rgb(192, 184, 184), white);    
     @import url(https://fonts.googleapis.com/css?family=Tangerine);
     font-style:'tangerine' ;
     margin: 0%;
     }

   
    li {
   
        background-image: linear-gradient(white,rgb(192, 184, 184) ); 
        text-align: center;
        font-style:italic;
         font-size: 20   mm;
        padding: 20px;
    }

    .principal{
        font-family: 'Tangerine', serif;
        font-size: 48px;
        text-shadow: 4px 4px 4px #aaa;
    }

    
    .BOT1 {
        

    background-image: linear-gradient(white,rgb(192, 184, 184) );
    border: 1px;;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor:pointer;
    }

    
    .flex-container{
    background-image: -moz-linear-gradient(YELLOW RED);
    display: flex;
    justify-content:center;
    margin: 20px;
    flex-wrap: wrap;
    
    }

    .flex-container > div{
        
    margin: 20px;
        
    }

    
    .ppp{
    display: flex;
    flex-direction: row;
    text-align:center ;
    font-family: sans-serif;
     }

    .FOOTER{

    text-align:center;
    margin: 100PX;
    }

/* otro doc */
a{
    font-style: italic;
    color: black;
    border-bottom: 10px;
}



.grid-container{
display:grid;
margin: 0px;   
grid-template-columns: auto auto ;
 
}

.grid-item{
    
    
    padding: 0px;
    font-size: 30px;
    text-align:center;

}

.dflot{
    text-align: center;
  border-style: double;
    
    font-style:'tangerine' ;
 }


 .nav1{

    display: grid;  
 grid-template-columns: auto;
 }

  .inst{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
  justify-content:space-around;
  margin: 40px;
  
    }

    .ISO{
text-align:center ;
    }

      
    .marc{
        justify-items: center;
        border-style:solid;
    }

    .contacto{
        border-style: double;
        margin: 30px;

justify-items: center;

    }

    .us{

       
        text-align:center ;
        
       
        
    }
.anima{
margin: 0px;
    animation-duration: 30s;
   animation-name: aparecer;
   animation-iteration-count: infinite;

}
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }
 

    @media screen and (min-whidth: 600px) {
        body {

            background-color: #000000;
        }
    }

    /* Set the background color of body to tan */
body {
    background-color: rgb(240, 234, 234);
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
   body {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    body {
      background-color: olive;
    }
  }

  .Marcas{
display: grid;
grid-template-columns: auto auto auto;

justify-content: space-between;
  }