@import "./SASS/fonts";

@import "./SASS/laflota";

@import "./SASS/flexgrid";
        
@import "./SASS/animacion";
          
@import "./SASS/mediaquerys";  


 @mixin seba {
  background-size: cover;
  margin: 2px;
  width: 400px;
  height: 250px;
  border-style: solid;
  color: black;
 }